@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Montserrat-Regular.otf") format("Open Type");
}

body {
    line-height: 1;
}

.text-we-are-creative {
    font-size: 79px;
    text-transform: uppercase;
}

.text-fs-35 {
    font-size: 35px;
}

.background-color-btn {
    background-color: #18cfab;
}

.background-color-btn:hover {
    background-color: #2e4a5b !important;
}

.background-color-card {
    background-color: #2e4a5b;
}

.background-color-card:hover {
    background-color: #18cfab !important;
}

.text-title-info:hover {
    color: #18cfab;
}

.text-nav-header:hover {
    color: #18cfab !important;
}

.text-navbar-brand {
    font-size: 32px;
}

.text-history:hover {
    color: #18cfab;
}

.text-button-group-all {
    font-size: 14px !important;
    background-color: #ffffff !important;
}

.text-button-group-all:hover {
    color: #18cfab !important;
}

.text-everything {
    font-size: 40px;
    text-transform: uppercase;
}

.text-card-title {
    font-size: 24px;
    text-transform: uppercase;
}

/* Style for "$199/Month" */
.text-card-number {
    font-size: 39px;
}

/* Text style for "$, 199" */
.text-title-card-wt-list {
    font-size: 51px;
}

.text-subtitle-card-wt-list {
    font-size: 47px;
    text-transform: uppercase;
}

/* Style for "theHam" */
.text-footer-title {
    font-size: 40px;
}

/* Style for "recent pos" */
.text-fs-18 {
    font-size: 18px;
}

.text-fs-14 {
    font-size: 14px;
}

.text-300 {
    font-weight: 300;
}

.text-color-f7 {
    color: #f7f7f7;
}

.text-color-b2 {
    /* Style for "Lorem ipsu" */
    color: #b2b2b2;
}

.text-color-white {
    color: #ffffff;
}

.text-color-71 {
    color: #717171;
}

.text-color-b8 {
    color: #b8b8b8;
}

.text-color-18c {
    color: #18cfab;
}

.text-color-f5 {
    color: #f5f5f5;
}

.text-color-77 {
    color: #777777;
}

.text-color-d4 {
    color: #d4d4d4;
}

.text-color-4e {
    color: #4e4e4e;
}

.text-color-90a {
    color: #90aebd;
}

.text-fs-13 {
    font-size: 13px;
}

.background-4option {
    background-color: #1c2a33;
}

.background-color-4option-2 {
    background-color: #18cfab;
}

.background-color-transparent {
    background-color: #2e4a5b;
}

.background-color-2e4 {
    background-color: #2e4a5b;
}

.text-color-bb {
    color: #bbbbbb;
}

a:hover {
    color: #18cfab;
}

.bg-opacity {
    opacity: 0.7;
}

.bg-color-00c {
    background-color: #00cbf6;
}

.box-shadow-pur {
    box-shadow: 0px -1px 0px 0px white;
}

.bg-h-nav {
    background-color: rgba(73, 71, 63, 0.6);
}

.box-shadow-1section {
    box-shadow: 0px -10px 0px 0px #18cfab;
}

.box-shadow-2section {
    box-shadow: 0px -10px 0px 0px white;
}

.btn-group > .btn-about {
    background-color: transparent;
    border-radius: 0;
}

.btn-about:hover {
    box-shadow: 0px -1px 0px 0px #18cfab;
    color: #18cfab;
    border-radius: 0;
}

.btn-border {
    border: 1px solid #ebebeb;
}

.bg-color-9c5 {
    background-color: #9c5da5;
}

.bg-color-11b {
    background-color: #11b0de;
}

.bg-color-d67 {
    background-color: #d67f7f;
}

.bg-color-20b {
    background-color: #20bc9d;
}

.bg-color-bb8 {
    background-color: #bb8a36;
}

.btn-group > .btn-services {
    background-color: #f8fcfe;
    border-radius: 0;
}

.btn-services:hover {
    background-color: #18cfab;
    color: #ffffff;
    border-radius: 0;
}

.btn-services:hover:before, .btn-services:hover:after {
    border-bottom-width: 0;
    position: absolute;
    display: block;
    border-style: solid;
    box-sizing: inherit;
    border-color: #ffffff;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom-width: 0px;
    border-top-width: 10px;
}

.btn-services:hover:before {
    content: "";
    border-top-color: rgba(0, 0, 0, 0.25);
}

.btn-services:hover:after {
    border-top-color: #18cfab;
    content: "";
}

@media (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
}

.btn-group > .btn-flex {
    flex-grow: 1;
}

.block-header {
    padding-top: 244px;
    margin: 0;
}

.block-header-we-are {
    padding-top: 46px;
    margin: 0;
}

.block-header-sub {
    padding-top: 36px;
    margin: 0;
}

.block-header-btn {
    padding-top: 140px;
    margin: 0;
}

.btn-lrg {
    padding: 1.5rem;
    border-radius: .25rem;
    width: 168px;
    height: 63px;
    color: white;
    text-transform: uppercase;
}

.block-4section {
    height: 377px;
}

.block-4section-text {
    padding-bottom: 121px;
    padding-top: 95px;
}

.block-4section-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lh-40 {
    line-height: 40px;
}

.shape {
    width: 79px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
}

.lh-25 {
    line-height: 25px;
}

.pl-47 {
    padding-left: 47px;
}

.position-abs {
    position: absolute;
}

.position-rel {
    position: relative;
}

.center-y {
    top: 50%;
    transform: translateY(-50%);
}

.pb-95 {
    padding-bottom: 95px;
}

.about-comp-pt101 {
    padding-top: 101px;
}

.about-comp-pt27 {
    padding-top: 27px;
}

.history-p {
    padding-top: 67px;
    padding-bottom: 53px;
}

.mb-11 {
    margin-bottom: 11px;
}

.progress-bar {
    height: 20px;
}

.progress {
    line-height: 1.7rem;
    text-align: left;
    background-color: inherit;
    border: 1px solid #959595;
}

.block-creative {
    padding-top: 98px;
    padding-bottom: 34px;
}

.block-creative-sections {
    padding-top: 74px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@media (min-width: 992px) {
    .header {
        height: 7.5rem;
    }
}

@media (max-width: 992px) {
    .header {
        background-color: black;
    }
}

.header__block {
    max-width: 1140px;
    height: 100%;
    width: 100%;
}

.header__menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__menu--item {
    font-size: 13px;
    color: #b8b8b8;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .header__menu--item {
        padding-left: 1.7rem !important;
    }
}

.header__menu--item:hover {
    color: #18cfab !important;
    border-left: 2px solid #17cfab;
}

@media (min-width: 992px) {
    .header__menu--item:hover {
        border-bottom: 2px solid #17cfab;
        border-left: none;
    }
}

@media (max-width: 992px) {
    .header__menu--item:hover {
        background-color: black;
    }
}

.header__menu--item:hover:last-of-type {
    border-bottom: none;
}

.header a:hover {
    text-decoration: none;
}

.header__logo {
    font-size: 40px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
}

.header__search-block {
    font-size: 13px;
    color: #a5a5a5;
    font-family: "Montserrat-Regular", sans-serif;
    max-width: 670px;
    height: 54px;
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: 0;
}

.header__search-btn {
    background-color: #17cfab;
    border-radius: 0;
    color: #ffffff;
    width: 44px;
    height: 43px;
}

.header__search-icon {
    padding-left: 2rem;
    height: 100%;
    font-size: 20px;
}

.header__form-control {
    border-radius: 0;
    font-size: 13px;
    color: #a5a5a5;
    font-family: "Montserrat-Regular", sans-serif;
    height: 100%;
    border: none;
}

.header__form-inline {
    flex-flow: unset;
}

.navbar-nav {
    position: relative;
}

.four-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 374px;
}

.four-options__item {
    background-color: #1b2933;
    font-size: 20px;
    color: #18cfab;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-transform: uppercase;
    height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px -7px 0px 0px #18cfab;
    text-align: center;
    padding: 5.5rem 3rem;
}

.four-options__item:nth-of-type(even) {
    background-color: #19CEAB;
    color: white;
    box-shadow: 0px -7px 0px 0px white;
}

.four-options__icon {
    height: 100px;
    width: 100%;
}

.home {
    width: 100%;
    height: 1012px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home__the-panza {
    font-size: 35px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-align: center;
}

.home__the-panza--wordpress {
    color: #11D6AB;
}

.home__we-are {
    font-size: 79px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
}

.home__just-buy {
    font-size: 34px;
    color: #d4d4d4;
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;
    margin-bottom: 10rem;
}

.home__btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__btn {
    font-size: 13px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 165px;
    height: 60px;
    border-radius: 4px;
    background-color: #17cfab;
    padding: 1.5rem;
    text-transform: uppercase;
    box-shadow: 0px -5px 0px 0px white;
    align-self: auto;
    line-height: 1;
}

.home__btn:hover {
    color: #ffffff;
    opacity: 0.5;
}

.home__btn:last-of-type {
    background-color: #00cbf5;
    margin-left: 2rem;
}

.features {
    position: relative;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    padding: 5.5rem 0;
}

.features__text {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat-Regular", sans-serif;
    text-align: center;
    margin-bottom: 6rem;
    position: relative;
}

.features__text:after {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.9rem);
    left: 50%;
    margin-left: -35px;
}

.features__text:before {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.7rem);
    left: 50%;
    margin-left: -45px;
}

.features__block {
    padding-top: 6rem;
    margin-left: -35px;
    margin-right: -35px;
}

.features__block > .col {
    padding-left: 35px;
    padding-right: 35px;
}

.features__item {
    margin-bottom: 1.5rem;
    letter-spacing: 0.01rem;
}

.features__item--title {
    font-size: 18px;
    color: #717171;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 0.8rem;
    line-height: 3;
}

.features__item--text {
    font-size: 14px;
    color: #777777;
    font-family: "Montserrat-Light", sans-serif;
    line-height: 1.75;
    text-align: justify;
}

.about-company {
    width: 100%;
    display: flex;
    height: 676px;
    background: #1b2933 url("./assets/images/icons/responsive.png") left bottom/auto no-repeat border-box;
    justify-content: center;
}

@media (max-width: 992px) {
    .about-company {
        background: #1b2933;
    }
}

.about-company__section {
    max-width: 1140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.about-company__left {
    position: absolute;
    content: url("./assets/images/icons/responsive.png");
    left: 0;
    bottom: 0;
}

.about-company__text {
    font-size: 14px;
    color: #bebebe;
    font-family: "Montserrat-Light", sans-serif;
    text-align: left;
}

.about-company__block {
    font-size: 36px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    text-transform: capitalize;
    position: relative;
    height: 100%;
    padding: 5.5rem 0;
}

@media (max-width: 992px) {
    .about-company__block {
        text-align: center;
    }
}

.about-company__block:before {
    content: "";
    width: 79px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(19% + 1.7rem);
    left: 50%;
    margin-left: -45px;
}

@media (min-width: 992px) {
    .about-company__block:before {
        left: 30%;
    }
}

.about-company__block:after {
    content: "";
    width: 79px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(19% + 1.9rem);
    left: 50%;
    margin-left: -35px;
}

@media (min-width: 992px) {
    .about-company__block:after {
        left: 30%;
    }
}

.about-company__menu {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

@media (max-width: 992px) {
    .about-company__menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.about-company__menu--btn {
    margin-right: 1.5rem;
    line-height: 2.5;
    color: whitesmoke;
    font-size: 16px;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

.about-company__menu--btn:hover {
    box-shadow: 0px -2px 0px 0px #17cfab;
    color: #17cfab;
    text-decoration: none;
}

.about-company__menu--btn:focus {
    box-shadow: 0px -2px 0px 0px #17cfab;
    color: #17cfab;
    text-decoration: none;
}

.about-company__menu--btn:first-of-type {
    padding-left: 0;
}

.progress {
    font-size: 13px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border: 1px solid #949494;
    border-radius: 4px;
}

.progress-bar {
    height: 39px;
    line-height: 3;
    padding-left: 1rem;
}

.progress-bar__1 {
    background-color: #9b5ca5;
}

.progress-bar__2 {
    background-color: #11afdd;
}

.progress-bar__3 {
    background-color: #d57f7f;
}

.progress-bar__4 {
    background-color: #1fbb9d;
}

.progress-bar__5 {
    background-color: #bb8935;
}

.work {
    padding: 5.5rem 0;
    background-color: #f7fbfd;
    border: 1px solid #e1e1e1;
}

.work__section {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.work__title {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
}

.work__title:after {
    content: "";
    width: 79px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.9rem);
    left: 50%;
    margin-left: -35px;
}

.work__title:before {
    content: "";
    width: 79px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.7rem);
    left: 50%;
    margin-left: -45px;
}

.work__btn {
    border: 1px solid #ebebeb;
    color: #717171;
    font-size: 14px;
    font-family: "Montserrat-Regular", sans-serif;
}

.work__btn:hover {
    color: #18cfab;
    border-top: 2px solid #17cfab;
}

.work__overlay {
    background: white;
    border-top: 2px solid #17cfab;
    text-align: center;
    display: none;
}

.work__overlay:before {
    content: "";
    border-radius: 20px;
    background-image: url(./assets/images/icons/options.png);
    background-repeat: no-repeat;
    border: 1px solid #17cfab;
    background-position: center center;
    width: 41px;
    height: 40px;
    position: absolute;
    top: 3rem;
    left: 6.2rem;
}

.work__overlay:after {
    content: "";
    border-radius: 20px;
    background-color: #17cfab;
    background-image: url(./assets/images/icons/seach_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 41px;
    height: 40px;
    position: absolute;
    top: 3rem;
    right: 6.2rem;
}

.work__image-back {
    font-size: 14px;
    color: #18cfab;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5rem;
    padding-top: 4.5rem;
}

.work__image-back--subtitle {
    font-size: 12px;
    color: #8a8a8a;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: capitalize;
}

.work__load-btn {
    font-size: 14px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    padding: 1.3rem 1.6rem;
    border-radius: 4px;
    background-color: #17cfab;
    margin-top: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}

.work__plus-icon {
    width: 16px;
    margin-right: 0.5rem;
}

.work__card:hover .work__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services {
    position: relative;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    padding: 5.5rem 0;
}

.services__title {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
    text-align: center;
    margin-bottom: 6rem;
}

.services__title:before {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.7rem);
    left: 50%;
    margin-left: -45px;
}

.services__title:after {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.9rem);
    left: 50%;
    margin-left: -35px;
}

.services__btn-block {
    flex-wrap: nowrap;
}

@media (max-width: 992px) {
    .services__btn-block {
        flex-wrap: wrap;
    }
}

.services__btn {
    font-size: 16px;
    font-family: "Montserrat-Regular", sans-serif;
    background-color: #f7fbfd;
    border: 1px solid #ebebeb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
    line-height: 3;
}

.services__collapse-img {
    height: 139px;
    background-color: #797979;
}

@media (max-width: 992px) {
    .services__collapse-img {
        display: none;
    }
}

.services__collapse-text {
    font-size: 14px;
    color: #777777;
    font-family: "Montserrat-Light", sans-serif;
    padding-left: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
}

.services__collapse-block {
    display: flex;
    margin-bottom: 3rem;
}

.services__a {
    color: #717171;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__a:hover, .services__a.active {
    background-color: #17cfab;
    border: 1px solid #17cfab;
    color: white;
    border-radius: 0;
}

.services__a:hover:after, .services__a.active:after {
    border-top-color: #18cfab;
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    box-sizing: inherit;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-right-width: 11px;
    border-left-width: 11px;
    border-bottom-width: 0;
    border-top-width: 12px;
    color: transparent;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    border-radius: 0;
    background-color: #17cfab;
}

.purchase {
    background-color: #1b2933;
}

.purchase__block {
    max-width: 1140px;
    padding: 5.5rem 0;
    text-align: center;
}

.purchase__title {
    font-size: 40px;
    color: #18cfab;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
}

@media (max-width: 992px) {
    .purchase__title {
        line-height: 1.25;
    }
}

.purchase__subtitle {
    font-size: 16px;
    color: #d8d8d8;
    font-family: "Montserrat-Regular", sans-serif;
    margin-bottom: 5.2rem;
}

.purchase__btn {
    font-size: 13px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    border-radius: 4px;
    background-color: #17cfab;
    box-shadow: 0px -5px 0px 0px white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.breaking-news {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 5.5rem 0;
}

.breaking-news__title {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
}

.breaking-news__title:before {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.7rem);
    left: 50%;
    margin-left: -45px;
}

.breaking-news__title:after {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.9rem);
    left: 50%;
    margin-left: -35px;
}

.breaking-news__card-title {
    font-size: 18px;
    color: #717171;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

.breaking-news__card-subtitle {
    font-size: 14px;
    color: #777777;
    font-family: "Montserrat-Light", sans-serif;
}

.breaking-news__card-img {
    position: relative;
}

.breaking-news__card-img:before {
    font-size: 16px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    width: 67px;
    height: 65px;
    background-color: #1f3d37;
    position: absolute;
    content: "12 Feb";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -1px;
    flex-direction: column;
}

.breaking-news__card:hover .breaking-news__card-img:before {
    background-color: #17cfab;
}

.breaking-news__card:hover .breaking-news__card-title {
    color: #17cfab;
}

@media (min-width: 576px) {
    .card-deck .card {
        -ms-flex: 1 0 40%;
        flex: 1 0 40%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
}

.facts {
    display: flex;
    width: 100%;
    height: 374px;
}

.facts__item {
    width: 25%;
    background-color: #24323c;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px -7px 0px 0px #18cfab;
    font-size: 18px;
    color: #18cfab;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: capitalize;
    height: 374px;
}

.facts__item:nth-of-type(even) {
    background-color: #19CEAB;
    box-shadow: 0px -7px 0px 0px #24323c;
    color: #25333c;
}

.facts__item:nth-of-type(even) .facts__ellipse {
    border: 2px solid #25333b;
}

.facts__item:nth-of-type(even) .facts__ellipse:before {
    background-color: #25333b;
}

.facts__title {
    font-size: 36px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    line-height: 2;
}

.facts__ellipse {
    width: 165px;
    height: 165px;
    border-radius: 83px;
    border: 2px solid #17cfab;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facts__ellipse:before {
    width: 109px;
    height: 109px;
    border-radius: 55px;
    background-color: #17cfab;
    position: absolute;
    content: "";
}

.facts__icon {
    z-index: 1;
}

.pricing {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 5.5rem 0;
    width: 100%;
}

.pricing__title {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
}

.pricing__title:before {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.7rem);
    left: 50%;
    margin-left: -45px;
}

.pricing__title:after {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.9rem);
    left: 50%;
    margin-left: -35px;
}

.pricing__card {
    background-color: #f7fbfd;
}

.pricing__card:hover .pricing__card-cost, .pricing__card:hover .pricing__btn {
    background-color: #17cfab;
}

.pricing__card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.pricing__card:hover .pricing__card-title {
    color: #1fdab5;
}

.pricing__card:hover .pricing__card-title:before {
    position: absolute;
    height: 0;
    width: 86px;
    border-bottom: 25px solid #17cfab;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
    top: 8px;
    right: -21px;
    content: "";
}

.pricing__card:hover .pricing__card-title:after {
    transform: rotate(45deg);
    position: absolute;
    content: "offer";
    font-size: 14px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    text-align: center;
    text-transform: uppercase;
    right: 0px;
}

.pricing__card-title {
    font-size: 24px;
    color: #717171;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.3;
    padding-top: 0.3rem;
    position: relative;
}

.pricing__card-cost {
    font-size: 39px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    background-color: #2d495b;
    line-height: 2.6;
}

.pricing__month {
    font-size: 14px;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: normal;
}

.pricing__list {
    line-height: 2.5;
    font-size: 14px;
    color: #777777;
    font-family: "Montserrat-Regular", sans-serif;
    background-color: #f7fbfd;
}

.pricing__btn {
    font-size: 14px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    background-color: #2d495b;
    line-height: 3.5;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .card-group .card {
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
    }
}

@media (min-width: 992px) {
    .card-group .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
}

.odds {
    background: #223541;
}

@media (min-width: 992px) {
    .odds {
        background: #223541 url("./assets/images/icons/odds_bg-img.png") no-repeat left bottom border-box;
        background-size: 70%;
        background-position: left 90%;
        height: 924px;
    }
}

.odds__block {
    max-width: 1140px;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 5.5rem 0;
    width: 100%;
}

.odds__title {
    font-size: 51px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.odds__subtitle {
    color: #18cfab;
    font-size: 43px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 991.98px) {
    .odds__list {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.odds__list-item {
    font-size: 14px;
    color: #f7f7f7;
    font-family: "Montserrat-Light", sans-serif;
    font-weight: normal;
    line-height: 2.7;
}

.odds__list-item:before {
    position: absolute;
    content: url("./assets/images/icons/odds_check.png");
    left: calc(0% - 0.4rem);
    height: 100%;
}

@media (max-width: 991.98px) {
    .odds__list-item:before {
        left: calc(0% - 1rem);
    }
}

.odds__btn {
    font-size: 13px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    border-radius: 4px;
    background-color: #17cfab;
    box-shadow: 0px -5px 0px 0px white;
    text-transform: uppercase;
}

.team {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 5.5rem 0;
    width: 100%;
}

.team__title {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
    text-transform: capitalize;
}

.team__title:before {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.7rem);
    left: 50%;
    margin-left: -45px;
}

.team__title:after {
    content: "";
    width: 80px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: calc(100% + 1.9rem);
    left: 50%;
    margin-left: -35px;
}

.team__card {
    background-color: #2d495b;
    font-size: 16px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    text-transform: capitalize;
    border: 0;
}

.team__card:hover .card-body {
    background-color: #17cfab;
}

.team__card:hover .team__img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__card:hover .team__position {
    color: #2e4a5b;
}

.team__img-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.team__img-overlay:before {
    width: 84px;
    height: 84px;
    border-radius: 42px;
    border: 2px solid #17cfab;
    position: absolute;
    content: "";
}

.team__img-overlay:after {
    position: absolute;
    content: url("./assets/images/icons/team_hover-plus.png");
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team__img {
    position: relative;
}

.team__social-block {
    background-color: #2d495b;
    display: flex;
    height: 65px;
}

.team__social {
    border: 1px solid #f7fbfd;
    color: white;
    background: transparent;
    border-radius: 0;
    width: 100%;
    line-height: 3;
    border-bottom: transparent;
}

.team__social:last-of-type {
    border-right: transparent;
}

.team__social:first-of-type {
    border-left: transparent;
}

.team__position {
    font-size: 13px;
    color: #18cfab;
    font-family: "Montserrat-Light", sans-serif;
}

.contacts {
    display: flex;
    width: 100%;
    padding: 7rem 0;
}

.contacts__map {
    width: 944px;
    height: 549px;
    background-color: #9e9e9e;
}

.contacts__forms {
    width: 555px;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    justify-content: space-between;
    font-size: 14px;
    color: #90aebd;
    font-family: "Montserrat-Light", sans-serif;
}

.contacts__name {
    height: 54px;
    border: 1px solid #c0d2ce;
}

.contacts__email {
    height: 54px;
    border: 1px solid #c0d2ce;
}

.contacts__message {
    height: 184px;
    border: 1px solid #c0d2ce;
    padding-top: 1rem;
}

.contacts__btn {
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    width: 553px;
    height: 54px;
    border-radius: 3px;
    background-color: #17cfab;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 0px 0px #08bf9a;
    margin-bottom: 4px;
}

.contacts__title {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
    text-transform: capitalize;
    line-height: 0.75;
}

.contacts__title:before {
    content: "";
    width: 79px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: 3.5rem;
    left: 4.7rem;
}

.contacts__title:after {
    content: "";
    width: 79px;
    height: 4px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: 3.7rem;
    left: 5.6rem;
}

.contacts__form-group {
    display: flex;
    margin-bottom: 1.5rem;
}

.footer {
    width: 100%;
    height: 757px;
    background-color: #1b2b33;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.footer__adress-block {
    align-content: flex-start;
    width: 264px;
}

.footer__adress-info {
    font-size: 14px;
    line-height: 26px;
    color: #b2b2b2;
    font-family: "Montserrat-Light", sans-serif;
    height: 96px;
    margin-bottom: 4rem;
}

.footer__adress-contacts {
    font-size: 16px;
    line-height: 26px;
    color: #c1c1c1;
    font-family: "Montserrat-Regular", sans-serif;
}

.footer__adress-contacts--info {
    font-size: 14px;
    line-height: 26px;
    color: #b2b2b2;
    font-family: "Montserrat-Light", sans-serif;
}

.footer__adress-logo {
    font-size: 40px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
}

.footer__adress-logo--a {
    color: #18cfab;
}

.footer__recent-post-block {
    display: flex;
    font-size: 18px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 3rem;
}

.footer__recent-post-card {
    width: 338px;
    display: flex;
    font-weight: normal;
    text-transform: none;
    align-self: flex-start;
    position: relative;
    margin-bottom: 3.2rem;
}

.footer__recent-post-card:after {
    width: 338px;
    height: 1px;
    background-color: #284453;
    content: "";
    position: absolute;
    top: 110%;
}

.footer__recent-post-card:first-of-type {
    padding-top: 3rem;
}

.footer__recent-post-card:last-of-type:after {
    display: none;
}

.footer__recent-post-img {
    width: 76px;
    height: 66px;
    background-color: #959595;
    margin-right: 1rem;
}

.footer__recent-post-block-text {
    width: 297px;
}

.footer__recent-post-text {
    font-size: 14px;
    color: #b2b2b2;
    font-family: "Montserrat-Light", sans-serif;
    line-height: 25px;
}

.footer__recent-post-text--title {
    font-size: 16px;
    color: #18cfab;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.footer__recent-post-text--date {
    font-size: 14px;
    line-height: 30px;
    color: #f1f1f1;
    font-family: "Montserrat-Light", sans-serif;
}

.footer__tags-block {
    font-size: 18px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 3rem;
}

.footer__tags-block:after {
    content: "";
    position: absolute;
    top: 110%;
    width: 241px;
    height: 1px;
    background-color: #284453;
}

.footer__tags {
    display: flex;
    font-size: 14px;
    color: #c2c0c0;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: none;
    font-weight: normal;
    padding-top: 3rem;
}

.footer__tags-colmn {
    flex-direction: column;
    display: flex;
    margin-left: 0.5rem;
}

.footer__tags-colmn:first-of-type {
    margin-left: 0;
}

.footer__tags-btn {
    height: 37px;
    width: 74px;
    background-color: transparent;
    border: 1px solid #ababab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.footer__tags-btn:hover {
    background-color: #17cfab;
    color: white;
    border: 1px solid #17cfab;
}

.footer__tags-btn--audio {
    width: 65px;
}

.footer__tags-newsletter {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.footer__newsletter--block {
    font-size: 18px;
    line-height: 40px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__newsletter--text {
    width: 228px;
    height: 68px;
    font-size: 14px;
    color: #b4b4b4;
    font-family: "Montserrat-Light", sans-serif;
    font-weight: normal;
    padding-top: 1rem;
    text-transform: none;
    line-height: 25px;
    margin-bottom: 1rem;
}

.footer__newsletter--input {
    font-size: 14px;
    color: #757575;
    font-family: "Montserrat-Light", sans-serif;
    height: 42px;
    background-color: #21353f;
    border: none;
    padding-left: 0.7rem;
}

.footer__newsletter--go {
    width: 44px;
    height: 42px;
    background-color: #294353;
    font-size: 14px;
    color: #18cfab;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.footer__flicke {
    font-size: 18px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.footer__flicke--block {
    display: flex;
    padding-top: 3rem;
}

.footer__flicke--colmn {
    flex-direction: column;
    display: flex;
    margin-left: 0.5rem;
}

.footer__flicke--colmn:first-of-type {
    margin-left: 0;
}

.footer__flicke--img {
    width: 74px;
    height: 74px;
    background-color: #959595;
    margin-bottom: 0.5rem;
}

.footer__copyright {
    width: 100%;
    height: 108px;
    background-color: #21353f;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

.footer__copyright--logo {
    color: #18cfab;
}

.carousel-caption {
    all: initial;
}

.feedback {
    padding: 5.5rem 5rem 3rem 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 852px;
    background-color: #2d495b;
}

.feedback__title {
    font-size: 36px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 6rem;
}

.feedback__title:after {
    content: "";
    width: 76px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: 4.2rem;
    left: 13.5rem;
}

.feedback__title:before {
    content: "";
    width: 76px;
    border-bottom: 1px solid #18cfab;
    position: absolute;
    top: 4rem;
    left: 12.7rem;
}

.feedback__quote {
    height: 55px;
    font-size: 16px;
    color: #bbbbbb;
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;
    line-height: 2;
    margin-bottom: 2rem;
    width: 1141px;
}

.feedback__quote--icon {
    width: 44px;
    height: 30px;
    margin-bottom: 2rem;
}

.feedback__quote--name {
    font-size: 16px;
    color: #18cfab;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
}

.feedback__quote--job {
    font-size: 14px;
    color: #bbbbbb;
    margin-bottom: 2rem;
}

.feedback__ellipse {
    width: 164px;
    height: 163px;
    border-radius: 81px;
    background-color: rgba(31, 217, 181, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -82px;
}

.feedback__img {
    width: 142px;
    height: 141px;
    border-radius: 71px;
    background-color: #878787;
    border: 3px solid #17cfab;
}

.feedback__img--sm {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    background-color: #878787;
}

.feedback__carousel-control-prev {
    left: 29%;
}

.feedback__carousel-control-next {
    right: 2%;
}

.feedback__carousel-indicators li {
    min-width: 68px;
    height: 68px;
    border-radius: 34px;
    background-color: rgba(31, 217, 181, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
}

.feedback__carousel-indicators li.active {
    margin-top: 1rem;
}

.feedback__carousel-indicators {
    bottom: -50%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 24rem;
}

.feedback__carousel-item.active {
    padding-bottom: 163px;
}

.feedback__carousel-item {
    padding-bottom: 163px;
}

.feedback__carousel-indicators .active .feedback__img--sm {
    border: 2px solid #17cfab;
}

.feedback__carousel-indicators .active {
    background-color: rgba(31, 217, 181, 0.2);
}

.feedback__carousel-control-prev-icon, .feedback__carousel-control-next-icon {
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.feedback__carousel-control-prev-icon {
    background-image: url("./assets/images/icons/feedback-prev-icon.png");
}

.feedback__carousel-control-next-icon {
    background-image: url("./assets/images/icons/feedback-next-icon.png");
}

.feedback__carousel-control-next, .feedback__carousel-control-prev {
    top: 130%;
}

.feedback__carousel-control-next:hover .feedback__carousel-control-next-icon {
    background-color: #17cfab;
    border: none;
}

.feedback__carousel-control-prev:hover .feedback__carousel-control-prev-icon {
    background-color: #17cfab;
    border: none;
}

.feedback__carousel-inner {
    width: 100%;
}

.feedback__carousel-slide {
    position: unset;
}

.feedback__carousel-block {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.feedback__carousel-caption {
    position: relative;
    padding-bottom: 163px;
    text-align: center;
}

/*# sourceMappingURL=style.css.map */
