$global-color-java: #18cfab;

// todo add all font-weights
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.otf") format("Open Type")
}

@import "assets/styles/block-creative";
@import "assets/styles/header";
@import "assets/styles/4-options";
@import "assets/styles/home";
@import "assets/styles/features";
@import "assets/styles/about-company";
@import "assets/styles/work";
@import "assets/styles/services";
@import "assets/styles/purchase";
@import "assets/styles/breaking-news";
@import "assets/styles/facts";
@import "assets/styles/pricing-table";
@import "assets/styles/odds";
@import "assets/styles/team";
@import "assets/styles/contacts";
@import "assets/styles/footer";
@import "assets/styles/slick";
@import "assets/styles/feedback";

