$facts-height: 374px;
$facts-color-dark: #25333b;


.facts {
  display: flex;
  width: 100%;
  height: $facts-height;

  &__item {
    width: 25%;
    background-color: $facts-color-dark;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 -7px 0 0 $global-color-java;
    font-size: 18px;
    color: $global-color-java;
    font-family: "Montserrat-Light", sans-serif;
    text-transform: capitalize;
    height: $facts-height;

    &:nth-of-type(even) {
      background-color: $global-color-java;
      box-shadow: 0 -7px 0 0 $facts-color-dark;
      color: $facts-color-dark;

      .facts__ellipse {
        border: 2px solid $facts-color-dark;
        &:before {
          background-color: $facts-color-dark;
        }
      }
    }

  }
  &__title {
    font-size: 36px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    line-height: 2;
  }

  &__ellipse {
    width: 165px;
    height: 165px;
    border-radius: 83px;
    border: 2px solid $global-color-java;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      width: 109px;
      height: 109px;
      border-radius: 55px;
      background-color: $global-color-java;
      position: absolute;
      content: "";
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  &__icon {
    z-index: 1;
  }
}
