
.feedback {
  background-color: $global-color-mirage;

  &__block {
    max-width: 1140px;
    padding: 5.5rem 0;
    width: 100%;
  }

  &__title {
    font-size: 36px;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    position: relative;
    text-transform: capitalize;
    text-align: center;

    &:before {
      content: "";
      width: 80px;
      height: 4px;
      border-bottom: 1px solid $global-color-java;
      position: absolute;
      top: calc(100% + 1.7rem);
      left: 50%;
      margin-left: -45px;
    }

    &:after {
      content: "";
      width: 80px;
      height: 4px;
      border-bottom: 1px solid $global-color-java;
      position: absolute;
      top: calc(100% + 1.9rem);
      left: 50%;
      margin-left: -35px;
    }
  }

  &__quote {
    font-size: 16px;
    color: rgb(187, 187, 187);
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;
    line-height: 2;
    margin-bottom: 2rem;

    &--icon {
      width: 44px;
      height: 30px;
      margin: auto
    }

    &--name {
      font-size: 16px;
      color: $global-color-java;
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0.7rem;
    }

    &--job {
      font-size: 14px;
      color: rgb(187, 187, 187);
      margin-bottom: 2rem;
    }
  }

  &__ellipse {
    width: 164px;
    height: 163px;
    border-radius: 81px;
    background-color: rgba(31, 217, 181, 0.2);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 142px;
    height: 141px;
    border-radius: 71px;
    background-color: $global-color-boulder;
    border: 3px solid $global-color-java;

    &--sm {
      width: 58px;
      height: 58px;
      border-radius: 29px;
      background-color: $global-color-boulder;
      position: absolute;
      top: 21px;
      left: 5px;
    }
  }

  &__img-sm-back {
    width: 68px;
    height: 68px;
    border-radius: 34px;
    background-color: rgba(31, 217, 181, 0.2);
  }

  &__slider-nav {
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.slick-current .feedback__img--sm {
  border: 2px solid $global-color-java;
}

.slick-current {
  top: -15px;
  position: relative;
  outline: none;
}

.slick-slide {
  outline: none;
  cursor: pointer;
}