.footer {

  background-color: #1b2b33;

  &__block {
    max-width: 1140px;
    display: flex;
    height: 100%;
    padding: 5.5rem 0;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__adress-info {
    font-size: 14px;
    line-height: 2;
    color: rgb(178, 178, 178);
    font-family: "Montserrat-Light", sans-serif;
  }

  &__adress-contacts {
    font-size: 16px;
    line-height: 2;
    color: rgb(193, 193, 193);
    font-family: "Montserrat-Regular", sans-serif;

    &--info {
      font-size: 14px;
      color: rgb(178, 178, 178);
      font-family: "Montserrat-Light", sans-serif;
    }
  }
  &__adress-logo {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat-Regular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
    font-weight: bold;

    &--a {
      color: $global-color-java;
    }
  }

  &__recent-post-title {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__recent-post-media {
    border-bottom: 1px solid #284453;

    &:last-of-type {
      border-bottom: none;
    }
  }
  &__recent-post-img {
    width: 76px;
    height: 66px;
    background-color: #959595;
  }

  &__recent-post-text {
    font-size: 14px;
    color: rgb(178, 178, 178);
    font-family: "Montserrat-Light", sans-serif;
    line-height: 2;

    &--title {
      font-size: 16px;
      color: $global-color-java;
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
    &--date {
      font-size: 14px;
      line-height: 2;
      color: rgb(241, 241, 241);
      font-family: "Montserrat-Light", sans-serif;
      text-transform: capitalize;
    }
  }
  &__tags-block {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #284453;
  }

  &__tags {
    display: flex;
    font-size: 14px;
    color: rgb(194, 192, 192);
    font-family: "Montserrat-Light", sans-serif;
    text-transform: none;
    font-weight: normal;
    padding-top: 3rem;
  }

  &__tags-btn {
    background-color: transparent;
    border: 1px solid #ababab;
    color: #c2c0c0;
    border-radius: 0;
    width: 100%;

    &:hover {
      background-color: $global-color-java;
      color: white;
      border: 1px solid $global-color-java;
    }
  }

  &__newsletter {

    &--title {
      font-size: 18px;
      color: rgb(255, 255, 255);
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }

    &--text {
      font-size: 14px;
      color: rgb(180, 180, 180);
      font-family: "Montserrat-Light", sans-serif;
      line-height: 2;
    }

    &--input {
      font-size: 14px;
      color: rgb(117, 117, 117);
      font-family: "Montserrat-Light", sans-serif;
      background-color: #21353f;
      border: none;
      border-radius: 0;
      line-height: 2;
    }
    &--go {
      background-color: #294353;
      font-size: 14px;
      color: $global-color-java;
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 0;
    }
  }
  &__flicke-title {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  &__flicke-img {
    width: 74px;
    height: 74px;
    margin-bottom: 0.5rem;
  }
  &__copyright {
    height: 108px;
    background-color: #21353f;
    font-size: 14px;
    line-height: 2;
    color: rgb(174, 174, 174);
    font-family: "Montserrat-Light", sans-serif;
    text-transform: capitalize;
    justify-content: center;

    &--logo {
      color: $global-color-java;
    }
  }

}