.purchase {
  background-color: $global-color-mirage;

  &__block {
    max-width: 1140px;
    padding: 5.5rem 0;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    color: $global-color-java;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;

    @media (max-width: 992px) {
      line-height: 1.25;
    }
  }
  &__subtitle {
    font-size: 16px;
    color: rgb(216, 216, 216);
    font-family: "Montserrat-Regular", sans-serif;
    margin-bottom: 5.2rem;
  }

  &__btn {
    font-size: 13px;
    color: white;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    border-radius: 4px;
    background-color: $global-color-java;
    box-shadow: 0px -5px 0px 0px white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}